$color-surface: #FFFEFB;
$color-white: #FFFFFF;

$color-red: #DA2919;
$color-red-700: #A21F13;
$color-red-100: #FBE9E8;

$color-gray-900: #1E1E1E;
$color-gray-800: #302E2D;
$color-gray-700: #625E5B;
$color-gray-600: #716F6C;
$color-gray-500: #898683;
$color-gray-400: #A5A19D;
$color-gray-300: #C1BCB7;
$color-gray-200: #E4E0DA;
$color-gray-100: #F1F0ED;
$color-gray-50: #F6F5F3;

$color-teal-800: #004E54;
$color-teal-600: #008A94;
$color-teal-400: #00CDDB;
$color-teal-200: #AEEAF0;
$color-teal-100: #E6FAFC;
$color-teal-50: #F1FBFC;

$color-yellow-800: #8A6A00;
$color-yellow-600: #E6B800;
$color-yellow-400: #FFDE75;
$color-yellow-300: #FFE9A8;
$color-yellow-200: #FFF7DB;

$color-green: #2E7D5B;

$color-sand: #F4F0EC;
$color-sand-wet: #EFE9E3;
$color-sun-soft: #FFE9C7;
$color-sun-haze: #E6F3F2;
